@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');

/*----------------------------------------------
                    BASIC
----------------------------------------------*/
body {
    background-color: #fafafa;
    font-family: Jaldi, sans-serif;
    color: #424242;
    font-size: 18px;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

label {
    cursor: pointer;
}

/*-------------- TEXTO ----------------*/
.formato-resumen {
    margin-left: 20px;
    text-align: right;

}

/*-------------- BOTONES ----------------*/
.button-basic {
    height: 45px;
    width: 200px;
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #37495780;
    color: #374957;
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
}

.button-buy {
    background-color: #58aa12;
    border: 2px solid #58aa12;
    color: #fafafa;
}

.button-empty {
    background-color: #fafafa;
    border: 2px solid #e71837; 
    color: #e71837;
}

.button-basic:hover {
    background-color: #eaeaea;
}

.button-buy:hover {
    background-color: #58aa1280;
}

.button-empty:hover {
    background-color: #ffdfdb;
}

input:focus {
    outline-style: solid;
    outline-width: thin;
}

/*----------------------------------------------
                    HEADER
----------------------------------------------*/
.contenedor-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/*-------------- LOGO ----------------*/
.contenedor-logo {
    display: flex;
}

h1 {
    font-family: Satisfy;
    color: #4949e7;
    font-weight: 900;
    font-size: 35px;
    margin-top: 6px;
    margin-left: 10px;
    text-shadow: 1px 1px 2px #00af80;
}

.img-logo {
    width: 35px;
}


/*-------------- CARRITO ----------------*/
.contenedor-carrito {
    display: flex;
    align-items: center;    
}

.img-carrito {
    width: 40px;
    font-weight: bold;
}

.texto-carrito {
    margin-right: 15px;
}


/*-------------- CHECKOUT ----------------*/
.total-compra {
    font-weight: bold;
}

.descuento-compra {
    color: #58aa12;
}

.recargo-compra {
    color: #e71837;
}

/*----------------------------------------------
            CARRITO MENÚ DESPLEGABLE
----------------------------------------------*/
.overlay {
    display: flex;
}

.overlay-fondo {
    width: 100vw;
    height: 100vh;
    background-color: #424242;
    opacity: 0.4;
    position: absolute;
    top: 0;
    right: -110%;
    z-index: 1;
}

.contenedor-carrito-menu {
    width: 35vw;
    height: 100vh;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -1000px;
    z-index: 2;
    padding: 25px;
    transition: 0.8s;
}

.equis {
    width: 35px;
    height: 35px;
}

.carrito-titulo {
    display: flex;
    justify-content: space-between;
}

.contenedor-productos-agregados {
    width: 100%;
    height: 50%;
    margin: 10px;
    overflow: scroll;
    scrollbar-width: thin;    
}

.contenedor-resumen-carrito {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cantidad-productos-agregados {
    text-align: right;
    margin-bottom: 10px;
}

.contenedor-botones-carrito {
    display: flex;
    margin-top: 20px;
}

/*----------------------------------------------
            CONFIRMA VACIAR
----------------------------------------------*/
.overlay-confirma-vaciar {
    position: relative;
}

.overlay-fondo-confirma-vaciar {
    width: 100vw;
    height: 100vh;
    background-color: #424242;
    opacity: 0.4;
    position: absolute;
    top: 0;
    right: -110vw;
    z-index: 3;
}

.contenedor-confirma-vaciar {
    width: 45vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    position: absolute;
    top: 25vh;
    right: -110vw;
    z-index: 4;
    transition: 0.8s;
}

.texto-vaciar-carrito {
    font-size: 30px;
    font-weight: bold;
}


/*----------------------------------------------
            CHECKOUT COMPRA
----------------------------------------------*/
.overlay-fondo-modal {
    background-color: #424242;
    opacity: 0.4;
    flex-basis: 1;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -110%; 
    z-index: 3;
}

.contenedor-titulo-checkout {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contenedor-confirmar-compra {
    flex-basis: 1.5;
    height: 100vh;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -2000px;
    z-index: 4;
    padding: 25px;
    transition: 1.5s;
}

.modal-formularios {
    display: flex;
    flex-direction: row;
    flex-basis: 65%;
}

.contenedor-formulario-confirmar-compra {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.datos-personales {
    width: 40%;
    flex-direction: column;
    margin: 20px;
}

hr {
    width: 80%;
    border: 1px solid rgba(55, 73, 87, 0.2);
    margin: 20px 0;
}

.opciones-pago {
    display: flex;
    flex-direction: column;
    margin: 20px;

}

.resumen-compra {
    flex-basis: 45%;
    background-color: rgba(55, 73, 87, 0.1);
    padding: 25px;
}

.resumen-compra h3 {
    margin-left: 5px;
}

.contenedor-botones-checkout {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.etiquetas-datos-personales {
    margin: 10px 5px 5px 5px;
}

.espacio-datos-personales {
    
    height: 30px;
    border: none;
    border-bottom: 1px solid #424242;
    padding: 5px;
    margin-bottom: 10px;
}



/*----------------------------------------------
                    BANNER
----------------------------------------------*/
.contenedor-banner {
    background-color: rgba(55, 73, 87, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-img-banner {
    position: relative;
}

.img-banner {
    height: 100%;
}

.contenedor-texto-banner {
    background-color: rgba(55, 73, 87, 0.4);
    position: absolute;
}

.texto-banner {
    padding: 10px;
    margin: 0 15px;
    font-weight: bold;
    font-size: 40px;
    color: #fafafa;
    font-style: italic;
    text-shadow: 2px 2px 4px #4949e7;
}

.texto-logo-gt {
    font-family: Satisfy;
    font-size: 35px;
    font-weight: bold;
}

/*----------------------------------------------
                SECCIÓN PRINCIPAL
----------------------------------------------*/
.seccion-principal {
    display: flex;
    background-color: rgba(55, 73, 87, 0.1);
}

/*----------------------------------------------
                    ASIDE
----------------------------------------------*/
.contenedor-filtro-puntaje, .contenedor-filtro-categoria, .contenedor-filtro-busqueda, .formulario-aside  {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.aside {
    flex-basis: 20vw;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    margin: 5px 10px 25px 15px;
    padding: 20px;
}

/*-------------- FILTROS ----------------*/
.aside-filtros {
    display: flex;
    justify-content: space-between;
}

.contenedor-boton-limpiar {
    position: relative;
}

.texto-limpiar {

}

.trash {
    position: absolute;
    left: -28px;
}

/*-------------- BÚSQUEDA ----------------*/
.contenedor-filtro-busqueda {
    margin-top: 0;
    position: relative;
}

.filtro-busqueda {
    outline: none;
    border: none;
    border-bottom: 2px solid #374957;
    padding-bottom: 5px;
    height: 36px;
    max-width: 200px;
    padding-left: 5px;
    padding-right: 30px;
}

.lupita {
    position: absolute;
    left: 172px;
    top: 33px;
}

/*-------------- CATEGORÍA ----------------*/
.filtro-categoria {
    padding-left: 2px;
}

/*-------------- PUNTAJE ----------------*/
.star-icon {
    width: 22px;
}

/*----------------------------------------------
                    VIAJES
----------------------------------------------*/
.seccion-viajes {
    flex-basis: 80vw;
    background-color: #fafafa;
    margin: 5px 15px 25px 10px;
    padding: 20px;
}


.barra-viajes {
    display: flex;
    justify-content: space-between;
}
/*-------------- MOSTRANDO ----------------*/




/*-------------- VER COMO ----------------*/
.ver-como {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ver-como input {
    width: 40px;
}


/*-------------- TARJETAS ----------------*/
.seccion-tarjetas {
    max-width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contenedor-tarjeta { /*ARTICLE*/
    width: 295px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #37495760;
    align-items: center;
    margin: 10px;
    flex-basis: 3;
}

.contenedor-img-tarjeta {
    /* flex-basis: 1; */
    margin-top: 20px;
    
}

.img-tarjeta {
    width: 250px;
    height: 165px;
    overflow: hidden;
}

.texto-tarjeta-titulo {
    font-size: 25px;
}

.contenedor-contenido-viaje {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-tarjeta-valor {
    margin-top: 10px;
    font-size: 18px;
    
}


/*----------------------------------------------
                    FOOTER
----------------------------------------------*/
.seccion-footer {
    display: flex;
    justify-content: center;
    background-color:  rgba(55, 73, 87, 0.1);
}

.contenedor-footer {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    margin: 15px 0;  
}

.firma-footer {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.texto-footer {
    font-size: 22px;
    margin-top: 5px;
}

.span-footer {
    font-family: Satisfy;
    font-weight: bold;

}

.img-logo-footer {
    width: 22px;
    margin: 5px;
}

/*----------------------------------------------
                    FILTROS
----------------------------------------------*/
/*-------------- VER COMO LISTA ----------------*/
.ver-como-lista { /* APLICA AL CONTENEDOR ARTICLE */
    flex-basis: 100%;
    height: auto;
    flex-direction: row;
    align-items: none;
}

.margen-como-lista { /* APLICA AL CONTENEDOR contenedor-img-tarjeta */
    margin: 20px;
    align-items: center;
}

.img-como-lista { /* APLICA A LA IMAGEN img-tarjeta */
    width: 340px;
    height: 265px;
}

.contenedor-contenido-viaje-lista { /* AGREGAR ESTA CLASE AL CONTENEDOR */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

/* RECORDAR REMOVER HIDDEN DEL P detalle-viaje
poner ID a todos los elementos para llamarlos desde JS*/

/*-------------- FILTROS GENERALES ----------------*/
.mostrar {
    top: 0;
    right: 0;
}

.mostrar2 {
    top: 25vh;
    right: 30vw;
}

.hidden {
    display: none;
}

.agrega-overflow {
    overflow-y: hidden;
}

/*----------------------------------------------
                    NOTAS
----------------------------------------------*/

/* ::placeholder  para cambiar el color de texto que viene por defecto */

/* sacar outline con none y agregar estilo a ::focus */

.lolipop {
    color: #00af80; /* VERDE */
    color: #4949E7; /* PÚRPURA */
    color: #EA3457; /* MAGENTA  */
    color: #374957; /* AÑIL */
}

/* @media puntos de quiebre:

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */